body 
{
    background-color: #fffdf9;
    font-size: 0.85rem;
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
    color:#120136;
    line-height: 1.8;
    margin-left:10px;
    }

hr 
{
    border-style: none;
    border-top-style: dotted;
    border-color: dimgrey;
    border-width: 5px;
    width: 5%;
}

h1{
    color:#142850;
    font-family: 'Sacramento', cursive;
    font-size: 3.0rem;
    margin-bottom: 15;
    margin-top: 0;
}

h3{
    font-size: 1.25rem;
    color:#27496d;
    font-weight: bold;
}

/* sections */

#title {
 background-color:#ecfbfc;
 
}

.title-image {
  width:65%;
  padding-right:0px;
  margin-top: 100px;
  margin-left: 80px;
  border-radius: 75%;
  }

.head-div {
  padding: 5% 2% 2%;
 
    }

    .head-div2 {
      padding: 1% 1% 1%;
      padding-top: 20px;
      text-align: center;
      background-color:#ffebbb;
     
        }

    #headlines {
      padding: 1% 10% 2%;
      font-size: 0.9rem;
      text-align: justify;
    }

    #badges {
    padding-left: 250px;
    padding-top: 25px;
    }
        #summary,#skills{
          background-color:#ffebbb;
          padding: 1% 10% 2%;
          font-size: 0.9rem;
          text-align: justify;
        }

        #profexp,#accomp{
          padding: 1% 10% 2%;
          font-size: 0.9rem;
          text-align: justify;
        }

#footer {
  padding: 5% 2% 2%;
  background-color:#ecfbfc;
  text-align: center;
}
        

/* sections */



   .div2{
    right:  200px;
    color: #120136;
    margin-top: 0px;
    border-top-width: 5px;
    padding-bottom: 5px;
    display: block;
    font-size: 1.0vw;
    text-align: center;
  }

   img {
    padding-top: 0px;
    border-top-width: 10px;
    margin-top: 0px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 15px;
  }

  .detailed-summary 
  {
  line-height: 1.8;
  margin-left: 45px;
  }

 .skill-table {
    border-spacing: 15px;
    margin-left: 45px;
 }

 .skill-table2 {
    border-collapse: separate;
    border-spacing: 15px;
    }

    /* --------------- Media Query ----------------------------------*/

    @media only screen and (max-width: 600px) {
      #badges {
        padding-left: 80px;
        padding-top: 5px;
           }
       
           .head-div {
            padding: 2% 2% 2%;
           
              }

            .head-div h1,p {
            padding-left: 100px;
            padding-top: 5px;
          }

          .head-div2 {
            padding: 1% 1% 1%;
            padding-top: 20px;
            background-color:#fcf7bb;
            font-size: smaller;
              }

              #headlines p{
                padding-left: 35px;
                text-align: justify;
                font-size: smaller;
              }
           
              #summary,#skills{
                font-size: smaller;
               }

               #profexp,#accomp{
                font-size:smaller;
                 }

                 #footer {
                  font-size:smaller;
                  text-align: center;
                }

                             

    }